@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
:root {
    --red: #4f3cff;
    --light-red: #f9edeb;
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body {
    background: #3c18dfa4;
    padding: 4rem;
}

section {
    padding: 2rem 9%;
}

.heading {
    text-align: center;
    color: #333;
    font-size: 4rem;
    padding-bottom: 3rem;
}

.heading span {
    color: var(--red);
    background: var(--light-red);
    border-radius: .5rem;
    padding: .2rem 1.5rem;
}

.home form .buttons-container {
    display: flex;
    gap: 1.5rem;
}

.home form .buttons-container .btn {
    flex: 1;
}

.home form .btn {
    width: 100%;
    margin-top: 2rem;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3.5rem;
    border-radius: .5rem;
    font-size: 1.7rem;
    color: var(--red);
    background: var(--light-red);
    cursor: pointer;
    text-align: center;
}

.btn:hover {
    background: var(--red);
    color: #fff;
}

.featured .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    height: 100px;
}

.featured .box-container .box {
    border: .1rem solid rgba(0, 0, 0, .2);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    border-radius: 1.5rem;
    overflow: hidden;
    background: #fff;
    flex: 1 1 30rem;
    height: 400px;
}

.featured .box-container .box .image-container {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 25rem;
}

.featured .box-container .box .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .2s linear;
}

.featured .box-container .box:hover .image-container img {
    transform: scale(1.1);
}

.featured .box-container .box .image-container .info {
    position: absolute;
    top: 1rem;
    left: 0;
    display: flex;
}

.featured .box-container .box .image-container .info h3 {
    font-weight: 500;
    font-size: 1.4rem;
    color: #fff;
    background: rgba(0, 0, 0, .3);
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    margin-left: 1rem;
}

.featured .box-container .box .image-container .icons {
    position: absolute;
    bottom: 1rem;
    right: 0;
    display: flex;
}

.featured .box-container .box .image-container .icons a {
    font-size: 1.4rem;
    color: #fff;
    display: flex;
    border-radius: .5rem;
    background: rgba(0, 0, 0, .3);
    margin-right: 1rem;
    padding: .7rem;
}

.featured .box-container .box .image-container .icons a h3 {
    font-weight: 500;
    padding-left: .5rem;
}

.featured .box-container .box .image-container .icons a:hover {
    background: var(--red);
}

.featured .box-container .box .content {
    padding: 1.5rem;
}

.featured .box-container .box .content .details {
    padding: .5rem 0;
    display: flex;
    align-items: center;
}

.featured .box-container .box .content .details h3 {
    flex: 1;
    padding: 1rem;
    border: .1rem solid rgba(0, 0, 0, .1);
    color: #999;
    font-size: 1.3rem;
}

.featured .box-container .box .content .details h3 i {
    color: #333;
    padding-left: .5rem;
}

.featured .box-container .box .content .buttons {
    display: flex;
    gap: 1rem;
}

.featured .box-container .box .content .buttons .btn {
    flex: 1;
    font-size: 1.5rem;
    align-items: center;
}